/**********************************
GENERAL
**********************************/
body {
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    /*max width is related to width. But instead of width, max width that it can be smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*Margin 0 is or all sides*/
    margin: 0 auto;
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

/***********************************
HEADEER
***********************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Sarala', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is for the top. 2nd value is for the left and right. 3rd value is for the bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/***********************************
NAVIGATION
***********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/***********************************
FOOTER
***********************************/
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/***********************************
PAGE PORTFOLIO
***********************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;  
}


/***********************************
ABOUT ME PAGE
***********************************/
.portfolio-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}


/***********************************
CONTACT PAGE
***********************************/
.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}


/*********************************
COLORS
*********************************/

body {
    background-color:  red;
    color: #999;
}
a {
    color: #0004ff;
}

header {
    background: #ff0000;
}

h1, h2 {
    color: #000;
}

nav {
    background: #000;
}

/*Pseudo-Class*/
nav a, nav a:visited{
    color:#fff;
}

nav a.selected, nav a:hover {
    color: #7e00c7;
}

/*********************************
MEDIA Querie
*********************************/